nav{
	background-color:#843742; 
	color:#ffffff;
	text-align: center;
}
h3{
	text-align: center;
}

thead{
	background-color:#560C16;
	color: #ffffff;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #CD8791;
  border-color: #6c757d;
}

.contents-under {
  padding-top: 70px;
}

#tabla:hover{
  color: #fff;
  background-color: #CD8791;
  border-color: #6c757d;
}

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}